@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
   
	 background:#dbcb8f;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.field {
 width:220px;
 height:35px;
 border-radius:3px;
 border:1px solid #fff;
 padding-left:10px;
}

.fieldv {
 width:220px;
 height:35px;
 border-radius:3px;
 border:1px solid #fff;
 padding-left:10px;
 margin-left:44px;
 margin-top: 10px;
}


label {
    color: #3e3003;
    font-family: Calibri;
    font-size: 16px;
    font-weight: bold;
}

.labelv {
    color: #3e3003;
    font-family: Calibri;
    font-size: 16px;
    font-weight: bold;
	margin-left:44px;
	margin-bottom:15px;
}


#wrapper{
 width:100%;	
}

.g-strip{
 width:100%;
 height:68px;
 background:#00a99d;	
}


.top{
 width:940px;
 height:68px;
 margin:0 auto;	
}

.gap {
	float:right;
	margin-left:60px;
}


.logo h2{
  font-family:Calibri;	
  font-size:40px;
  color:#fff;
  float:left;
  text-transform:uppercase;
  margin-top:17px;	
}

.logo a{
  text-decoration:none;	
}




.top-nav{
 width:100%:		
}

.top-nav ul{
 margin:0;
 padding:0;

}

.top-nav ul, move{
 float:right;
 margin-top:23px;
}

.top-nav li{
 font-family:Calibri;
 font-size:16px;
 color:#fff;
 padding:0 12px;
 float:left;		
}


.top-nav li a{
 text-decoration:none;
 color:#fff;		
}

.banner{
 width:100%;
 height:195px;
 background:#dbcb8f;		
}

.min-cont{
 width:1200px;
 height:auto;
  background:#DBCB8F;
 margin:0 auto;
	
}

.bg{
  width:1200px;
 height:auto;
 
 background:#e2deae;
 margin:0 auto;
	
}

.bg2{
 width:1200px;
 height:440px;
 background:#e2deae;
 margin:0 auto;
	
}

.bg3{
 width:1200px;
 height:555px;
 background:#e2deae;
 margin:0 auto;
	
}

.cont{
 width:1200px;
 height:auto;
 margin:0 auto;
	
}


.search{
 font-family:Calibri;
 font-size:14px;
 color:#333333;
 width:830px;
 text-indent:19px;
 height:37px;
 -webkit-height:30px;
 margin-top:30px;
 border:2px solid #e7e7e7;
 border-radius:4px 0 0 4px;	
}


.s-img{
    left: -5px;
    position: relative;
    top:16px;
}



.hollywood{
  width:114px !important;
  height:27px;
  font-family:Calibri;
  font-size:12px;
  float:left;
  line-height: 2;
  text-indent: 10px;
  color:#fff;
  margin-left:-8px !important;
   border-radius:5px;
  padding:10xp 10px;
  background:#acacac !important; 	
}


.science{
  width:102px !important;
  height:27px;
  font-family:Calibri;
  font-size:12px;
  float:left;
  line-height: 2;
  text-indent: 10px;
  color:#fff;
  margin-left:10px;
   border-radius:5px;
  padding:10xp 10px;
  background:#555555 !important; 	
}

.second{
  margin:0;
  padding:0;
  float:left;	
}

.second, .s-move{
 margin-left:10px !important;
     margin-top: -2px !important;
  	
}

.second li{
  width:89px;
  height:27px;
  font-family:Calibri;
  font-size:12px;
  float:left;
  line-height: 2;
  text-indent: 6px;
  color:#fff;
  margin-left:3px;
  margin-top:5px;
   border-radius:5px;
  padding:10xp 10px;
  background:#363636; 	
 }

.hollywood{
  width:114px !important;
  height:27px;
  font-family:Calibri;
  font-size:12px;
  float:left;
  line-height: 2;
  text-indent: 10px;
  color:#fff;
  margin-left:10px;
   border-radius:5px;
  padding:10xp 10px;
  background:#acacac !important; 	
}


.science{
  width:102px !important;
  height:27px;
  font-family:Calibri;
  font-size:12px;
  float:left;
  line-height: 2;
  text-indent: 10px;
  color:#fff;
  margin-left:10px;
   border-radius:5px;
  padding:10xp 10px; 
  background:#555555 !important; 	
}

.login{
 width:300px;
 height:148px;
 float:right;
 margin-top:-46px;
 margin-right: 27px;
 }


form{
 float:left;	
}

.login ul{
 margin:0; padding:0;
 list-style-type:none;	
}

.login ul, .lang{
 float:right;
 margin-right: -25px;
 margin-top: -15px;
}

.login li{
	font-family: Calibri;
	font-size: 12px;
	color: #fff;
	float: left;
	padding-right: 15;
	padding-left: 0;
	margin-left: 7;
	margin-top: -10;	
} 

.login li a{
 color:#ae4019;
}

.login li a:hover{
  text-decoration:underline;
}


.login a{
 text-decoration:none;	
}


.u-n{
 width:189px;
 height:27px;
 font-family:Calibri;
 margin-top:25px;
 text-indent:40px;
 float:left;
 margin-left:5px;
 border:2px solid #e1e1e1;
 border-radius: 5px;
 background:url(../img/user.png) no-repeat #fff;

}

.pw{
width: 189px;
height: 27px;
font-family: Calibri;
margin-top: 5px;
text-indent: 40px;
float: left;
margin-left: 5px;
border: 2px solid #e1e1e1;
border-radius: 5px;
background: url(../img/lock.png) no-repeat #fff;

}



.login h3{
	background: none repeat scroll 0 0 #7a672d;
    border-radius: 5px;
    color: #fff;
    font-family: Calibri;
    font-size: 14px;
    height:27px;
    line-height:2;
    margin-left: 375px;
    margin-top: 11px;
    padding: 2px 5px;
    text-indent: 25px;
    width: 80px;		
}

.login h4{
 font-family:Calibri;
 font-size:16px;
 margin-left: 163px;
 margin-top: 10px;
 color:#fff;		
}

.login h5{
 width:120px;
 height:25px;
 font-family:Calibri;
 font-size:16px;
 margin-left: 110px;
 margin-top: 20px;
 color:#fff;
 line-height: 1.7;
 text-indent:15px;
 border-radius:5px;	
 padding:11px 30px;
 background:#7a672d;
 text-decoration:none;	
}

.footer{
width: 100%;
height: 85px;
margin-top: 50px;
background: #dbcb8f;
display: table;	
}

.rights{
 margin-top:38px;	
	
}


.category{
 width:220px;	
 min-height:1000px;
 margin-top:20px;
 overflow: hidden;
 float:left;
 clear:both;
 margin-top:20px;
 background: #E2DEAE;
}

.category h2{
 width:220px;
 height:45px;
 font-family:Calibri;
 font-size:16px;
 color:#fff;
 line-height:2.5;
 text-indent:12px;	
 background:#333333;
}

.category2{
 width:220px;	
 height:400px;
 margin-top:20px;
 float:left;
 clear:both;
 margin-top:20px;
 background:#E2DEAE;
}

.category2 h2{
 width:220px;
 height:45px;
 font-family:Calibri;
 font-size:16px;
 color:#fff;
 line-height:2.5;
 text-indent:12px;	
 background:#333333;
}


.category3{
 width:220px;	
 height:517px;
 margin-top:20px;
 float:left;
 clear:both;
 margin-top:20px;
 background:#E2DEAE;
}

.category3 h2{
 width:220px;
 height:45px;
 font-family:Calibri;
 font-size:16px;
 color:#fff;
 line-height:2.5;
 text-indent:12px;	
 background:#333333;
}

.user
{
position: absolute;
left: 50%;
margin-left: -300px;
}


.counts{
font-family:Calibri;
 font-size:16px;
 color:#ae4019;
 text-align: center;
 float:left;
 position:relative;
 top:10px;
 left:10px;
 text-decoration:none;
 }


.statistics{
	margin-top:10px;
	margin-left:60px;
}


.statistics1{
	margin-top:10px;
	margin-left:60px;
	float:left;
}

.statistics2{
	margin-top:10px;
	margin-left:60px;
	float:left;
}

.vid{
	margin-top:10px;
	margin-left:60px;
	float:left;
	
}

.videos{
    width: 750px;
    float: right;
}

.rightCol{
	width:220px;	
	height:1000px;
	margin-top:20px;
	overflow: hidden;
	float:right;
	clear:both;
	margin-top:20px;
	background: #12DEAE;
}
.hollywd{
 float:left;	
width: 110px;
}


.hollywd h2{
 font-family:Calibri;
 font-size:20px;
 font-weight:bold;
 float:left;
 margin-top:30px;	
 margin-left:23px;
 color:#3e3003;	
 width: 300px;
}


.box-cont{
  float: right;
  height: 215px;
  margin-left: 11px;
  margin-top: -45px;
  margin-bottom: 30px;
  width: 750px;	
  padding: 0 0 65px 0;
}


.box{
 width:187px;
 height:235px;
 background:#DBCB8F;
 float:left;
 margin-left:0px;
 margin-top: 60px;	
}

.box img{
 margin-top:8px;
 margin-left:6px;	
}

.box h2{
 font-family:Calibri;
 font-size:14px;
 color:#3e3003;
 text-decoration:none;
 margin-left: 10px;
 margin-top: 10px;	
}

.box a{
text-decoration:none;	
}

.box ul{
 margin:0;
 padding:0;
 list-style-type:none;	
}

.box ul, .move{
 margin-left: 10px;
 margin-top: 7px;	
}


.box li{
  font-family:Calibri;
  font-size:12px;
  color:#3e3003;
  padding:2px 0;	
 	
}

.box li p{
  font-family:Calibri;
  font-size:10px;
  color:#3e3003;
  position:relative;
  top:-15px;
  left:20px;
}

.smith{
 font-family:Calibri;
 font-size:12px;
 color:#3e3003;
 position:relative;
 top: 10px;
 float: inherit;
}


.likes{
 margin-top:8px !important;
 float:left;
 margin-left:5px;
 
 }

.likes2{
 margin-top:9px !important;
 float:left;
 margin-left:23px;
 
 }
 
 
 
.shape{
	float:left;
 margin-top:5px !important;	
 margin-left:10px !important;

}

	

.login34{
	float:left;
	margin-top:20px;
  background:#7a672d;
  color: #fff;
  font-family: Calibri;
  font-size: 12px;
  height:25px;
  line-height: 2;
   margin-left:10px;
  padding: 0px 5px;
  text-indent: 11px;
		   width:130px;
 	 	cursor:pointer;	
 	   transition:0.5s;
 	 position:relative;
     top:px;
  	  border:0px;
    border-radius:4px;
}
.login34:hover{
	background:#333333;
	transition:0.5s;
}
.login37{
	float:left;
	margin-top:10px;
  background:#B6B3A8;
  color: #fff;
  font-family: Calibri;
  font-size: 14px;
  height:36px;
  line-height: 2;
   margin-left:10px;
  padding: 0px 5px;
		   width:82px;
 	 	cursor:pointer;	
 	   transition:0.5s;
 	 position:relative;
     top:px;
  	  border:0px;
    border-radius:4px;
}

.login38{
	float:left;
	margin-top:10px;
  background:#7a672d;
  color: #fff;
  font-family: Calibri;
  font-size: 14px;
  height:36px;
  line-height: 2;
   margin-left:245px;
  padding: 0px 5px;
		   width:82px;
 	 	cursor:pointer;	
 	   transition:0.5s;
 	 position:relative;
     top:px;
  	  border:0px;
    border-radius:4px;
}
.login38:hover{
	background:#333333;
	transition:0.5s;
}

.login37:hover{
	background:#333333;
	transition:0.5s;
}
.login3:hover{
	background:#333333;
	transition:0.5s;
}

.btn h2{
	font-family:Calibri;
	font-size:12px;
	color:#fff;
    line-height: 2;
    text-indent: 7px;
}

.btn a{
 text-decoration:none;
 color:#fff;	
}

.thumbnail{
 margin-top:10px;
 margin-left:35px;	
}

.f-details{
 font-family:Calibri;
 font-size:16px;
 color:#3e3003;
 position:relative;
 top:40px;	
}

.f-details ul{
	margin:0;
	padding:0;
	list-style-type:none;
}

.f-details ul, .d-move{
  float:right;	
}

.f-details li{
	font-family:Calibri;
	font-size:16px;
	float:left;
	padding:0 8px;
}


.f-details li a{
  text-decoration:none;
  color:#3e3003;	
}


.f-details li a:hover{
  text-decoration:underline;	
}


.player{
 margin-top:57px;
 float:left;	
margin-left: -95px;
position: initial;
}


.url{
 width:220px;
 height:35px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:12px;
 margin-left:10px;	
}


.info{
 width:220px;
 height:65px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:12px;
 margin-left:10px;
 resize:none;
 	
}


.lan{
 font-family:Calibri;
 font-size:16px;
 font-weight:bold;
 color:#3e3003;
 float:left;	
 margin-left:10px;
 margin-top:20px;
	
}

.vid-n{
 font-family:Calibri;
 font-size:16px;
 font-weight:bold;
 color:#3e3003;
 float:left;	
 margin-left:10px;
 margin-top:8px;
}


.select{
 width:125px;
 height:37px;
 border-radius:3px;
 border:1px solid #fff;
 float:left;
 margin-top:10px;
 margin-left:12px;
}



.checkbox {

 font-family:Calibri;
 font-size:16px;
 color:#333333;
 margin-left: 22px;
 margin-right: 5px;

}

.cat{
 width:220px;
 height:37px;
 border-radius:3px;
 border:1px solid #fff;
 float:left;
 margin-top:10px;
 margin-left:-60px;
}

.tag{
 font-family:Calibri;
 font-size:16px;
 font-weight:bold;
 color:#3e3003;
 float:left;	
 margin-left:15px;
 margin-top:20px;	
}

.t-name{
 width:160px;
 height:35px;
 float:left;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:12px;
 margin-left:20px;
 	
}


.add{
  width: 193px;
 height:50px;
 font-family:Calibri;
 font-size:18px;
 background:#7a672d;
 float:left;
 border-radius:6px;
 border:0px;
 text-decoration:none;
 color:#fff;
 margin-top:22px;
 margin-left:65px;
transition:0.5s;
vertical-align: middle;
cursor: pointer;
}

.add:hover{
	background:#333333;
	transition:0.5s;
}



.add img{
 top:10px;
 position:relative;	
}

.cancel{
 border:0px;
 width:100px;
 height:40px;
 font-family:Calibri;
 font-size:18px;
 color:#fff;
 text-decoration:none;
 float:left;
 text-align: center;
 line-height:2;
 text-decoration: none;
 margin-top:7px;
 border-radius:5px;
 margin-left:114px;
 background:#b7b7b7;
transition:0.5s;
cursor: pointer;
}
.cancel:hover{
	background:#333333;
	transition:0.5s;
}



.us-name{
 font-family:Calibri;
 font-size:16px;
 color:#3e3003;
 float:left;
 margin-top:105px;
 margin-left:108px;
 color:#3e3003;	
}

.usr-box{
  width: 212px;
  height:40px;
  border-radius:4px;
  border:1px solid #fff;	
  margin-left: 19px;
  margin-top: 95px;	
}

.usr-box2{
  width: 212px;
  height:40px;
  border-radius:4px;
  border:1px solid #fff;	
  margin-left:26px;
  margin-top:15px;	
}


.usr-pw{
 font-family:Calibri;
 font-size:16px;
 color:#3e3003;
 float:left;
 margin-top:25px;
 margin-left:109px;
 color:#3e3003;	
}

.login2{
    background: none repeat scroll 0 0 #7a672d;
    border-radius: 4px;
    color: #fff;
    float: left;
    font-family: Calibri;
    font-size: 14px;
    height: 25px;
    line-height: 2;
    margin-left: 250px;
    margin-top: 10px;
    padding: 5px 10px;
    text-decoration: none;
    text-indent: 12px;
    width: 60px;
}

.cancel2{
	background: #b7b7b7;
border-radius: 2px;
color: #fff;
font-family: Calibri;
font-size: 14px;
width: 108px;
height: 36px;
float: right;
border: 0px;
padding: 2px 5px;
text-align: center;
cursor: pointer;
transition: 0.5s;
margin-left: 20px;
margin-top: -1px;
border: 0px;
border-radius: 5px;
}

.cancel2:hover{
	background:#333333;
	transition:0.5s;
}

.pic-cont{
width: 750px;
height: 480px;
float: left;
margin-left: 70px;
margin-top: -40px;
}


.pic1{
 width:100px;
 height:130px;
 float:left;
 padding:0 7px;
 margin-top:15px;
}

.pic1 h2{
 font-family:Calibri;
 font-size:14px;
 color:#3e3003;
 text-indent:25px;	
}

.tags2{
width: 750px;
height: 87px;
float: left;
margin-left: 50px;
margin-top: -90px;	
}

.tags2 img{
 position:relative;
 left:-3px;	
}


.tags2 h2{
  font-family:Calibri;
  font-size:16px;
  font-weight:bold;
  color:#fff;
}

.tags2 ul{
  margin:0;
  padding:0;
  	
}

.tags2 ul, t-move2{
  margin-top:55px;
  margin-left:10px;
  float:left;
  	
}

.tags2 a{
text-decoration:none;
 margin-top:10px;	
}

.tags2 li{
  width:114px;
  height:27px;
  font-family:Calibri;
  font-size:12px;
  line-height: 2;
  text-indent: 6px;
  color:#fff;
  margin-left:-7px;
  margin-top:15px;
  border-radius:5px;
  padding:10xp 10px;
  background:#363636; 	
 }

.hollywood2{
  width:114px !important;
  height:27px;
  font-family:Calibri;
  font-size:12px;

  line-height: 2;
  text-indent: 10px;
  color:#fff;
  margin-left:-8px !important;
   border-radius:5px;
  padding:10xp 10px;
  background:#acacac !important; 	
}


.science2{
  width:114px !important;
  height:27px;
  font-family:Calibri;
  font-size:12px;

  line-height: 2;
  text-indent: 10px;
  color:#fff;
  margin-left:10px;
   border-radius:5px;
  padding:10xp 10px;
  background:#555555 !important; 	
}

.second2{
  margin:0;
  padding:0;
	
}

.second2, .s-move2{
 margin-left:10px !important;
     margin-top:55px !important;
  	
}

.second2 li{
  width:114px;
  height:27px;
  font-family:Calibri;
  font-size:12px;
  line-height: 2;
  text-indent: 6px;
  color:#fff;
  margin-left:-7px;
  margin-top:15px;
   border-radius:5px;
  padding:10xp 10px;
  background:#363636; 	
 }

.hollywood2{
  width:114px !important;
  height:27px;
  font-family:Calibri;
  font-size:12px;

  line-height: 2;
  text-indent: 10px;
  color:#fff;
  margin-left:10px;
   border-radius:5px;
  padding:10xp 10px;
  background:#acacac !important; 	
}


.science2{
  width:114px !important;
  height:27px;
  font-family:Calibri;
  font-size:12px;

  line-height: 2;
  text-indent: 10px;
  color:#fff;
  margin-left:10px;
   border-radius:5px;
  padding:10xp 10px; 
  background:#555555 !important; 	
}

.reg-form{
 margin-left:150px;	
}

.name{
  width:220px;
 height:35px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:50px;
 margin-left:40px;		
}

.sur-n{
 float:left;
 margin-top:-25px;	
}


.sur-tbox{
 width:220px;
 height:35px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:50px;
 margin-left:10px;	
}


.check1{
position:relative;
  left:55px;
 top:25px;	
}


.check2{
 position:relative;
 left:80px;
 top:25px;	
}

.male{
 font-family:Calibri;
 font-size:16px;
 color:#333333;
 position:relative;
 left:60px;
 top:22px;
}

.female{
 font-family:Calibri;
 font-size:16px;
 color:#333333;
 position:relative;
 left:85px;
 top:22px;
}


.tel{
   width:220px;
 height:35px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:50px;
 margin-left:33px;		
}


.lan2{
 font-family:Calibri;
 font-size:16px;
 font-weight:bold;
 color:#3e3003;
 float:left;	
 margin-left:10px;
 margin-top:25px;
	
}


.select2{
 width:125px;
 height:37px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:19px;
 margin-left:18px;
}

.pass{
 width:220px;
 height:35px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:50px;
 margin-left:15px;
	
}

.u-s{
 width:220px;
 height:35px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:50px;
 margin-left:6px;
}


.captcha{
 position:relative;
 top:18px;
 left:28px;	
	
}


.cap{
 font-family:Calibri;
 font-size:16px;
 font-weight:bold;
 color:#3e3003;
 float:left;	
 margin-left:10px;
 margin-top:10px;
	
}

.t-box{
  width:220px;
 height:35px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:30px;
 margin-left:100px;
}

.name2{
  width:220px;
 height:35px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:50px;
 margin-left:44px;		
}


.login3{
  width: 130px;
height: 137px;
font-family: Calibri;
font-size: 16px;
margin-left: 0px;
margin-top: 2px;
color: #fff;
border: 0px;
border-radius: 5px;
padding: 0px 0px;
background: #7a672d;
text-decoration: none;
cursor: pointer;
}

.login33{
background: #7a672d;
color: #fff;
font-family: Calibri;
font-size: 14px;
height: 30px;
line-height: 2;
text-align: center;
margin-left: 102px;
padding: 0px 0px;
text-indent: 0px;
width: 92px;
cursor: pointer;
transition: 0.5s;
position: relative;
top: -5px;
border: 0px;
border-radius: 5px;
}
.login33:hover{
	background:#333333;
	transition:0.5s;
}

.loginLg{
background: #7a672d;
color: #fff;
font-family: Calibri;
font-size: 14px;
height: 30px;
line-height: 2;
text-align: center;
margin-left: -85px;
padding: 0px 0px;
text-indent: 0px;
width: 92px;
cursor: pointer;
transition: 0.5s;
position: relative;
top: 25px;
border: 0px;
border-radius: 5px;
}
.loginLg:hover{
	background:#333333;
	transition:0.5s;
}

.login39{
    width: 139px;
height: 35px;
font-family: Calibri;
font-size: 16px;
margin-left: 151px;
margin-top: -1px;
color: #fff;
border: 0px;
border-radius: 5px;
padding: 0px 0px;
background: #7a672d;
text-decoration: none;
cursor: pointer;
}

.login39:hover{
	background:#333333;
	transition:0.5s;
}

.login12{

    background:#7a672d;
  color: #fff;
  font-family: Calibri;
  font-size: 14px;
  height: 30px;
  line-height: 2;
  text-align:center;
  margin-left: 375px;
  padding: 0px 5px;
  text-indent: 11px;
		  width: 90px;
 	 	cursor:pointer;	
 	   transition:0.5s;
 	 position:relative;
     top:-30px;
  	  border:0px;
      border-radius: 5px;
}


.login3:hover{
	background:#333333;
	transition:0.5s;
}

.gender {
	float:right;
	text-align:left;
	width:237px;
}


.fieldtext {
 width:220px;
 height:60px;
 border-radius:3px;
 border:1px solid #fff;
 padding-left:10px;
 padding-top:10px;
}

.fieldtextv {
 width:220px;
 height:60px;
 border-radius:3px;
 border:1px solid #fff;
 padding-left:10px;
 padding-top:10px;
 margin-left:44px;
 margin-top: 10px;
}

.play{
 float:left;
 margin-left:-75px;
 margin-top:65px;  
	
}

.cmnt{
 float:left;
 width:220px;
 height:85px;
 border-radius:4px;
 resize:none;
 margin-left:-10px;
 background:#fff;
 margin-top:105px;
 border:1px solid #fff;	
}

.usr{
    float: left;
    margin-top:110px;
	left:20px;
    position: relative;
    z-index: 1;
		
}


.para{
 font-family:Calibri;
 font-size:14px;
 color:#333;
 float:left;
 margin-top: 15px;
 text-indent: 35px;
	
}

.post{
width: 139px;
height: 35px;
font-family: Calibri;
font-size: 16px;
margin-left: 541px;
margin-top: -36px;
color: #fff;
border: 0px;
border-radius: 5px;
padding: 0px 0px;
background: #7a672d;
text-decoration: none;
}

.post:hover{
	background:#333333;
	transition:0.5s;
	cursor:pointer;
}

.cmnt-p{
 float:left;
 margin-left: 20px;
 margin-top: 25px;
}

.line{
 width: 210px;
height: 1px;
float: left;
margin-left: -203px;
margin-top: 102px;
background: url(../img/line.png);	
}


.line a{
 float:right;
 margin-top:10px;
 margin-right:30px;	
}

.tw{
float: right;
margin-top: 5px;
margin-right: -5px !important;
}

.v-name{
	float: left;
margin-top: 22px;
margin-left: 20px;
}

.v-name h2{
 font-family:Calibri;
 font-size:24px;
 color:#333;
 font-weight:bold;	
}


.fb-l{
 float:left;
 margin-left:-90px;
 margin-top: 28px;
}

.fb-l p{
 font-family:Calibri;
 font-size:12px;
 color:#333;
 left: 20px;
 position: relative;
  top: -17px;
	
}

.fb-l2 {
 float:left;
 margin-left:-40px;
 margin-top: 28px;
}

.fb-l2 p{
 font-family:Calibri;
 font-size:12px;
 color:#333;
 left: 20px;
 position: relative;
  top: -17px;
	
}



.line2{
 width:460px;
 height:1px;
 float:left;
 margin-left:3px;
 margin-top: 14px;
 background:url(../img/line.png);	
}

.v-details{
width: 462px;
height: 96px;
float: left;
margin-top: 80px;
margin-left: -460px;
	
}

.v-details img{
 float:left;	
}

.v-details h2{
 font-family:Calibri;
 font-size:12px;
 color:#333;
 position:relative;
 top:15px;
 left:05px;	
}


.v-details h3{
 font-family:Calibri;
 font-size:12px;
 font-weight:bold;
 color:#333;
 float:right;
 position:relative;
 top:0px;
 left:0px;	
}



.v-details h4{
 font-family:Calibri;
 font-size:12px;
 color:#333;
 position:relative;
 top:25px;
 left:-25px;	
}


.v-details h5{
 font-family:Calibri;
 font-size:12px;
 color:#333;
 position:relative;
 top:30px;
 left:-25px;	
}

.c-name{
 width:100%;		
}

.c-name ul{
 margin:0;
 padding:0;
 list-style-type:disc;
	
}

.c-name li{
 font-family:Calibri;
 font-size:14px;
 color:#3e3003;
 padding:1px 0;	
}

.c-name a{
 text-decoration:none;
 color:#939393;	
}

.c-name a:hover{
 text-decoration:none;
 color:#3e3003;
 transition:0.5s;
}


.strip{
 width: 460px;
height: 1px;
float: left;
margin-left: -460px;
margin-top: 160px;
background: url(../img/line.png);	
}

.flag{
 font-family:Calibri;
 font-size:16px;
 color:#333;
 float:left;
 margin-top:40px;
 text-indent:12px;
 text-decoration:none;	
	
}

.strip img{
 float:left;
 margin-top:30px;
}

.foldr{
 margin-left:70px;	
}


.ico1{
    float: right;
    right:56px;
    top:-37px;
    position: relative;	
}

.ico2{
    float: right;
    position: relative;
	top:-37px;
		
}


.ico3{
    float: left;
    margin-left: 580px;
    margin-top: -28px;
    position: relative;	
}

.ico4{
    float: left;
    margin-left:610px;
    margin-top: -28px;
    position: relative;	
}

.ico5{
    float: left;
    margin-left:790px;
    margin-top: -28px;
    position: relative;	
}

.ico6{
    float: left;
    margin-left:820px;
    margin-top: -28px;
    position: relative;	
}


.details{
   float: left;
   margin-left: -130px !important;
}


.details2{
   float: left;
   margin-left:11px !important;
}

.details3{
   float: left;
   margin-left:-15px !important;
}
.details4{
   float: left;
   margin-left:-16px !important;
}



@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* webkit specific CSS */
    .search{ height:43px; }
	
.wood {
  font-family: Calibri;
  font-size: 12px;
  color: #3e3003;
  position: relative;
  margin-left: 20px;
  top: 3px;
}
.views {
  font-family: Calibri;
  font-size: 12px;
  color: #3e3003;
  position: relative;
  margin-left: 20px;
  top: 3px;
}	

.date {
  font-family: Calibri;
  font-size: 12px;
  color: #3e3003;
  left: 20px;
  position: relative;
  top: 8px;
}
.smith {
  font-family: Calibri;
  font-size: 12px;
  color: #3e3003;
  left: 20px;
  position: relative;
  top: 10px;
}
	
.likes {
  margin-top: 8px !important;
  float: left;
  margin-left: -25px;
}

.details2 {
  float: left;
  margin-left: -16px !important;
}	
	
.button{
  width: 207px;
  height: 60px;
  font-family: Calibri;
  font-size: 16px;
  color: #fff;
  border:0px;
  border-radius: 5px;
  background: #7a672d;
  text-decoration: none;	
  transition:0.5s;
  text-align:center;
  line-height: 2;  
  padding-right: 30px;
  padding-left: 18px;
  margin-top:20px;
}
.button2{
  width:114px;
  height: 50px;
  font-family: Calibri;
  font-size: 16px;
  color: #fff;
  border:0px;
  border-radius: 5px;
  background: #84827A;
  text-decoration: none;	
  transition:0.5s;
  padding-right: 30px;
  padding-left: 18px;
  margin-top:20px;
  margin-left:94px;
}

.button:hover{
	background:#333333;
	transition:0.5s;
}

.button2:hover{
	background:#333333;
	transition:0.5s;
}

.fb{
	margin-left:-189px
}

.inf, .success1, .wrn, .err, .smallerr, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.inf {
color: #00529B;
background-color: #BDE5F8;
background-image: url('../img/info.png');
width: 910px;
float: right;
margin-right: 6px;
}
.success1 {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('../img/success.png');
width: 910px;
float: right;
margin-right: 6px;
}
.wrn {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('../img/warning.png');
width: 910px;
float: right;
margin-right: 6px;
}
.err {
color: #D8000C;
background-color: #FFBABA;
background-image: url('../img/error.png');
width: 910px;
float: right;
margin-right: 6px;
}
.smallerr {
color: #D8000C;
background-color: #FFBABA;
background-image: url('../img/error.png');
width: 400px;
float: right;
margin-right: 20px;
margin-top: 60px;
}

.sosialBtn{
	float: right;
	margin-left: 195px;
	margin-bottom: -30px
}

 #loading{
  display:none;
  position:fixed;
  left:50%;
  top:50%;
  }

.comments{
min-height: 100px;

width: 900px;
margin-top: 0px;
margin-left:235px
}

@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:20px;
    float:left;
}
.commenterImage img {
    width:100%;
    
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
	top: 1px;
}
.actionBox {
    padding:10px;
}

.cmtEmail{
	float:left;
	margin-bottom: 10px;
}

.cmt{
	float:left;
	margin-bottom:10px;
}

.cmtBox{
	width:530px; 
	border-radius: 5px; 
	height: 55px;
}

.tagArea{
	margin-top:10px;
	margin-top:5px;
}


#eerie {
    width: 230px;
margin: auto;
margin-top: 100px;
float: left;
margin-left: -80px;
}

#sinister {
    margin-left: 3px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: "Penguins";
    font-size: 70px;
    color: #FF546C;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;}
    
#death {
    margin-bottom: 2px;}

#death a{
    color: #000000;
    text-align: center;
    font-size: 9px;
    font-family: calibri;
    text-transform: uppercase;
    background: #F9F9F9;
    padding: 3px 11px 3px 11px; 
    height: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;}

#death a:hover{
    color: #FF546C;
    background: #FFFFFF;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;}

.phantom {
    background-color: #7A672D;
    color: #FFFFFF;
    display: block;
    margin-top: 10px;
    width: 222px;
    height: 35px;
    font-family: "Penguins";
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    line-height: 35px;}

.phantom a {
    text-decoration: none;}

.corpulent {
    background-color: #E2DEAE;
    width: 202px;
    padding: 10px;
    font-family: calibri;
    font-size: 10px;
    color: #5D5D5D;
    text-align: justify;
    line-height: 12px;
    margin-bottom: 20px;
    margin-right: 10px;}

.corpulent img {
    max-width: 202px;}
    
.insidious {
    color: #000000;
    display: block;
    font-size: 12px;
    width: auto;
    padding: 8px 0px;
    margin-bottom: 3px;
    text-align: center;
    background-color: #F1F1F1;
    text-transform: uppercase;}

#annihilation {
    font-family: "Penguins";
    font-size: 8px;
    color: #FFFFFF;
    left: 3px;
    bottom: 3px;
    z-index: 999;
    position: fixed;
    letter-spacing: 1px;
    text-transform: uppercase;}
 
#annihilation a {
    text-decoration: none;}
	
.forgotPass{
	color: rgb(174, 64, 25);
    font-size: 12px;
    margin-left:5px;
}

img{border:none;}
pre{
	display:block;
	font:12px "Courier New", Courier, monospace;
	padding:10px;
	border:1px solid #bae2f0;
	background:#e3f4f9;	
	margin:.5em 0;
	width:500px;
	}	
	
#container{
	margin:0 auto;
	text-align:left;
	width:874px;
	background:#fff;
	}
#side{
	float:left;
	display:inline;
	width:700px;
	margin-left:20px;
	}


/* Tag cloud */
	.tags {
		width: 870px;
		height: 95px;
		background-color: rgb(219, 203, 143);
		overflow: hidden;
		/* word-wrap: normal; */
		float: left;
	}
	.tags ul{
		text-align:center;
				
		}
	.tags li{
		margin:0;
		padding:0;
		list-style:none;
		display:inline;
		}
	.tags li a{
		text-decoration:none;
		color:#AE4019;
		padding:0 2px;	
		}
	.tags li a:hover{	
		color:#cff400;
		}		
	
	.tag1{font-size:100%;}
	.tag2{font-size:120%;}
	.tag3{font-size:140%;}
	.tag4{font-size:160%;}
	.tag5{font-size:180%;}
	
	/* alternative layout */

	.tags .alt{
		text-align:left;
		padding:0;
		background:none;
		}
	.tags .alt li{
		padding:2px 10px;
		background:#efefef;
		display:block;
		}
	.tags .alt .tag1, 
	.tags .alt .tag2, 
	.tags .alt .tag3, 
	.tags .alt .tag4, 
	.tags .alt .tag5{font-size:100%;}
	.tags .alt .tag1{background:#7cc0f4;}
	.tags .alt .tag2{background:#67abe0;}
	.tags .alt .tag3{background:#4d92c7;}
	.tags .alt .tag4{background:#3277ad;}
	.tags .alt .tag5{background:#266ca2;}
	
/* // Tag cloud */

.simpleSearch{
	width:874px;
	
}
.srcLbl{
	color: #AE4019;
    font-family: Calibri;
    font-size: 16px;
    font-weight: bold;
}

.srcCmb{
	margin-top:5px;
	border: 2px solid #e7e7e7;
	border-radius: 4px 4px 4px 4px;
	width: 90px;
}

.advSearch{
	width:100%;
	
}

/*Back to top*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
/*End Back to top*/