@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
   
	 background:#dbcb8f;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#wrapper{
 width:100%;	
}

.g-strip{
 width:100%;
 height:68px;
 background:#00a99d;	
}


.top{
 width:940px;
 height:68px;
 margin:0 auto;	
}


.logo h2{
  font-family:Calibri;	
  font-size:40px;
  color:#fff;
  float:left;
  text-transform:uppercase;
  margin-top:17px;	
}

.logo a{
  text-decoration:none;	
}




.top-nav{
 width:100%:		
}

.top-nav ul{
 margin:0;
 padding:0;

}

.top-nav ul, move{
 float:right;
 margin-top:23px;
}

.top-nav li{
 font-family:Calibri;
 font-size:16px;
 color:#fff;
 padding:0 12px;
 float:left;		
}


.top-nav li a{
 text-decoration:none;
 color:#fff;		
}

.banner{
 width:100%;
 height:100px;
 background:#dbcb8f;		
}

/*.icon {
	padding-top:10px;
	padding-left:20px;
	float:left;
}
*/

.min-cont{
 width:983px;
 height:auto;
  background:#e2deae;
 margin:0 auto;
	
}

.bg{
 width:1200px;
 height:1020px;
 background:#e2deae;
 margin:0 auto;
	
}

.bg2{
 width:983px;
 height:440px;
 background:#e2deae;
 margin:0 auto;
	
}

.bg3{
 width:983px;
 height:555px;
 background:#e2deae;
 margin:0 auto;
	
}

.cont{
 width:983px;
 height:auto;
 margin:0 auto;
	
}


/*.search{
 font-family:Calibri;
 font-size:16px;
 color:#333333;
 width:470px;
 text-indent:19px;
 height:37px;
 -webkit-height:57px;
 margin-top:30px;
 border:2px solid #e7e7e7;
 border-radius:4px 0 0 4px;	
}*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* webkit specific CSS */
    .search{ height:43px; }
}



.s-img{
    left: -5px;
    position: relative;
    top:16px;
}

.tags{
 width:500px;
 height:87px;
 float:left;
 margin-left:20px;
 margin-top:15px;		
}

.tags img{
 position:relative;
 left:-3px;	
}


.tags h2{
  font-family:Calibri;
  font-size:16px;
  font-weight:bold;
  color:#fff;
}

.tags ul{
  margin:0;
  padding:0;
  	
}

.tags ul, t-move{
  margin-top:5px;
  margin-left:-10px;
  	
}

.tags li{
  width:89px;
  height:27px;
  font-family:Calibri;
  font-size:12px;
  float:left;
  line-height: 2;
  text-indent: 6px;
  color:#fff;
  margin-left:5px;
  margin-top:2px;
  border-radius:5px;
  padding:10xp 10px;
  background:#363636; 	
 }

.hollywood{
  width:114px !important;
  height:27px;
  font-family:Calibri;
  font-size:12px;
  float:left;
  line-height: 2;
  text-indent: 10px;
  color:#fff;
  margin-left:-8px !important;
   border-radius:5px;
  padding:10xp 10px;
  background:#acacac !important; 	
}


.science{
  width:102px !important;
  height:27px;
  font-family:Calibri;
  font-size:12px;
  float:left;
  line-height: 2;
  text-indent: 10px;
  color:#fff;
  margin-left:10px;
   border-radius:5px;
  padding:10xp 10px;
  background:#555555 !important; 	
}

.second{
  margin:0;
  padding:0;
  float:left;	
}

.second, .s-move{
 margin-left:10px !important;
     margin-top: -2px !important;
  	
}

.second li{
  width:89px;
  height:27px;
  font-family:Calibri;
  font-size:12px;
  float:left;
  line-height: 2;
  text-indent: 6px;
  color:#fff;
  margin-left:3px;
  margin-top:5px;
   border-radius:5px;
  padding:10xp 10px;
  background:#363636; 	
 }

.hollywood{
  width:114px !important;
  height:27px;
  font-family:Calibri;
  font-size:12px;
  float:left;
  line-height: 2;
  text-indent: 10px;
  color:#fff;
  margin-left:10px;
   border-radius:5px;
  padding:10xp 10px;
  background:#acacac !important; 	
}


.science{
  width:102px !important;
  height:27px;
  font-family:Calibri;
  font-size:12px;
  float:left;
  line-height: 2;
  text-indent: 10px;
  color:#fff;
  margin-left:10px;
   border-radius:5px;
  padding:10xp 10px; 
  background:#555555 !important; 	
}

.login{
 width:436px;
 height:148px;
 float:right;
 margin-top:-46px;
 margin-right: 27px;
 }

.logout {
	float:right;
	margin-right: 27px;
	margin-top:25px;	
}

.logout h3{
	background: none repeat scroll 0 0 #7a672d;
    border-radius: 5px;
    color: #fff;
    font-family: Calibri;
    font-size: 14px;
    height:27px;
    line-height:2;
    margin-left: 375px;
    margin-top: 11px;
    padding: 2px 5px;
	text-align:center;
    width: 80px;	
}

.logout a{
 text-decoration:none;
 color:#FFFFFF;
}


form{
 float:left;	
}

.login ul{
 margin:0; padding:0;
 list-style-type:none;	
}

.login ul, .lang{
 float:right;
 margin-right: -25px;
 margin-top: -15px;
}

.login li{
  font-family:Calibri;
  font-size:12px;
  color:#fff;
  float:left;
  padding:0 5px;	
} 

.login li a{
 color:#fff;
}

.login li a:hover{
  text-decoration:underline;
}


.login a{
 text-decoration:none;	
}


.u-n{
 width:172px;
 height:27px;
 font-family:Calibri;
 margin-top:10px;
 text-indent:40px;
 float:left;
 margin-left:5px;
 border:2px solid #e1e1e1;
 border-radius: 5px;
 background:url(../img/user.png) no-repeat #fff;

}

.pw{
 width:172px;
 height:27px;
 font-family:Calibri;
 margin-top:10px;
 text-indent:40px;
 float:left;
 margin-left:5px;
 border:2px solid #e1e1e1;
 border-radius: 5px;
 background:url(../img/lock.png) no-repeat #fff;

}



.login h3{
	background: none repeat scroll 0 0 #7a672d;
    border-radius: 5px;
    color: #fff;
    font-family: Calibri;
    font-size: 14px;
    height:27px;
    line-height:2;
    margin-left: 375px;
    margin-top: 11px;
    padding: 2px 5px;
    text-indent: 25px;
    width: 80px;		
}

.login h4{
 font-family:Calibri;
 font-size:16px;
 margin-left: 163px;
 margin-top: 10px;
 color:#fff;		
}

.login h5{
 width:120px;
 height:25px;
 font-family:Calibri;
 font-size:16px;
 margin-left: 110px;
 margin-top: 20px;
 color:#fff;
 line-height: 1.7;
 text-indent:15px;
 border-radius:5px;	
 padding:11px 30px;
 background:#7a672d;
 text-decoration:none;	
}

.footer{
 width:100%;
 height:85px;
 margin-top:50px;
 background:#dbcb8f;	
}

.rights{
 margin-top:38px;	
	
}


.category{
 width:220px;	
 height:1000px;
 float:left;
 clear:both;
 margin-top:20px;
}

.category h2{
 width:220px;
 height:45px;
 font-family:Calibri;
 font-size:16px;
 color:#fff;
 line-height:2.5;
 text-indent:12px;	
 background:#333333;
}

.category2{
 width:220px;	
 height:400px;
 margin-top:20px;
 float:left;
 clear:both;
 margin-top:20px;
 background:#fff;
}

.category2 h2{
 width:220px;
 height:45px;
 font-family:Calibri;
 font-size:16px;
 color:#fff;
 line-height:2.5;
 text-indent:12px;	
 background:#333333;
}


.category3{
 width:220px;	
 height:517px;
 margin-top:20px;
 float:left;
 clear:both;
 margin-top:20px;
 background:#fff;
}

.category3 h2{
 width:220px;
 height:45px;
 font-family:Calibri;
 font-size:16px;
 color:#fff;
 line-height:2.5;
 text-indent:12px;	
 background:#333333;
}




.statistics{
	margin-top:30px;
	margin-left:30px;
}


.hollywd h2{
 font-family:Calibri;
 font-size:16px;
 font-weight:bold;
 float:left;
 margin-top:30px;	
 margin-left:23px;
 color:#3e3003;	
}


.box-cont{
  float: left;
  height: 215px;
  margin-left: 11px;
  margin-top: -45px;
  width: 750px;	
  padding: 0 0 65px 0;
}


.box{
 width:187px;
 height:220px;
 background:#fff;
 float:left;
 margin-left:0px;
 margin-top: 60px;	
}

.box img{
 margin-top:8px;
 margin-left:6px;	
}

.box h2{
 font-family:Calibri;
 font-size:14px;
 color:#3e3003;
 text-decoration:none;
 margin-left: 10px;
 margin-top: 10px;	
}

.box a{
text-decoration:none;	
}

.box ul{
 margin:0;
 padding:0;
 list-style-type:none;	
}

.box ul, .move{
 margin-left: 10px;
 margin-top: 7px;	
}


.box li{
  font-family:Calibri;
  font-size:12px;
  color:#3e3003;
  padding:2px 0;	
 	
}

.wood{
 font-family:Calibri;
 font-size:12px;
 color:#3e3003;
 margin-left:55px;
}

.date{
 font-family:Calibri;
 font-size:12px;
 color:#3e3003;
 margin-left:3px;
}

.likes{
 margin-top:-5px !important; }


.shape{
	float:left;
 margin-top:5px !important;	
 margin-left:10px !important;

}

/*.btn{
 width:117px;
 height:25px;
 float:left;
 margin-left:10px;
 margin-top:20px;
 border-radius:4px;
 background:#7a672d;	
}

.btn h2{
	font-family:Calibri;
	font-size:12px;
	color:#fff;
    line-height: 2;
    text-indent: 7px;
}

.btn a{
 text-decoration:none;
 color:#fff;	
}*/

.thumbnail{
 margin-top:10px;
 margin-left:35px;	
}

.f-details{
 font-family:Calibri;
 font-size:16px;
 color:#3e3003;
 position:relative;
 top:40px;	
}

.f-details ul{
	margin:0;
	padding:0;
	list-style-type:none;
}

.f-details ul, .d-move{
  float:right;	
}

.f-details li{
	font-family:Calibri;
	font-size:16px;
	float:left;
	padding:0 8px;
}


.f-details li a{
  text-decoration:none;
  color:#3e3003;	
}


.f-details li a:hover{
  text-decoration:underline;	
}


.player{
 margin-top:57px;
 margin-left:15px;
 float:left;	
	
}


label{
 font-family:Calibri;
 font-size:16px;
 font-weight:bold;
 color:#3e3003;
}

.url{
 width:220px;
 height:35px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:12px;
 margin-left:10px;	
}


.info{
 width:220px;
 height:65px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:12px;
 margin-left:10px;
 resize:none;
 	
}


.lan{
 font-family:Calibri;
 font-size:16px;
 font-weight:bold;
 color:#3e3003;
 float:left;	
 margin-left:10px;
 margin-top:20px;
	
}

.vid-n{
 font-family:Calibri;
 font-size:16px;
 font-weight:bold;
 color:#3e3003;
 float:left;	
 margin-left:10px;
 margin-top:8px;
}


.select{
 width:125px;
 height:37px;
 border-radius:3px;
 border:1px solid #fff;
 float:left;
 margin-top:10px;
 margin-left:12px;
}


.how{
 font-family:Calibri;
 font-size:16px;
 color:#333333;
 float:left;
 margin-left:-83px;
 margin-top:47px;
}

.why{
 font-family:Calibri;
 font-size:16px;
 color:#333333;
 float:left;
 margin-left:-25px;
 margin-top:47px;
}

.what{
 font-family:Calibri;
 font-size:16px;
 color:#333333;
 float:left;
 margin-left:5px;
 margin-top:47px;
}

.who{
 font-family:Calibri;
 font-size:16px;
 color:#333333;
 float:left;
 margin-left:5px;
 margin-top:47px;
}



.checkbox{
 float:left;
 margin-left:-100px;
 margin-top:50px;	
}


.checkbox2{
 float:left;
 margin-left:-45px;
 margin-top:50px;	
}

.checkbox3{
 float:left;
 margin-left:10px;
 margin-top:50px;	
}


.checkbox4{
 float:left;
 margin-left:10px;
 margin-top:50px;	
}


.cat{
 width:220px;
 height:37px;
 border-radius:3px;
 border:1px solid #fff;
 float:left;
 margin-top:10px;
 margin-left:-60px;
}

.tag{
 font-family:Calibri;
 font-size:16px;
 font-weight:bold;
 color:#3e3003;
 float:left;	
 margin-left:15px;
 margin-top:20px;	
}

.t-name{
 width:160px;
 height:35px;
 float:left;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:12px;
 margin-left:20px;
 	
}


.add{
  width: 193px;
 height:40px;
 font-family:Calibri;
 font-size:14px;
 background:#7a672d;
 float:left;
 border-radius:4px;
 text-decoration:none;
 color:#fff;
 margin-top:22px;
 margin-left:20px;
 text-indent: 30px;
 padding:5px 10px;	
}

.add img{
 top:10px;
 position:relative;	
}

.cancel{
 width:100px;
 height:40px;
 font-family:Calibri;
 font-size:18px;
 color:#fff;
 text-decoration:none;
 padding:5px 10px;
 float:left;
 text-align: center;
 line-height:2;
 text-decoration: none;
 margin-top:7px;
 border-radius:5px;
 margin-left:72px;
 background:#b7b7b7;	
	
}


.us-name{
 font-family:Calibri;
 font-size:16px;
 color:#3e3003;
 float:left;
 margin-top:105px;
 margin-left:108px;
 color:#3e3003;	
}

.usr-box{
  width: 212px;
  height:40px;
  border-radius:4px;
  border:1px solid #fff;	
  margin-left: 19px;
  margin-top: 95px;	
}

.usr-box2{
  width: 212px;
  height:40px;
  border-radius:4px;
  border:1px solid #fff;	
  margin-left:26px;
  margin-top:15px;	
}


.usr-pw{
 font-family:Calibri;
 font-size:16px;
 color:#3e3003;
 float:left;
 margin-top:25px;
 margin-left:109px;
 color:#3e3003;	
}

.login2{
    background: none repeat scroll 0 0 #7a672d;
    border-radius: 4px;
    color: #fff;
    float: left;
    font-family: Calibri;
    font-size: 14px;
    height: 25px;
    line-height: 2;
    margin-left: 250px;
    margin-top: 10px;
    padding: 5px 10px;
    text-decoration: none;
    text-indent: 12px;
    width: 60px;
}

.cancel2{
	background:#b7b7b7;
    border-radius: 4px;
    color: #fff;
    float: left;
    font-family: Calibri;
    font-size: 14px;
    height: 25px;
    line-height: 2;
    margin-left:8px;
    margin-top: 10px;
    padding: 5px 10px;
    text-decoration: none;
    text-indent: 12px;
    width: 60px;
}


.pic-cont{
 width:700px;
 height:480px;
 float:left;
 margin-left:10px;
	
}


.pic1{
 width:100px;
 height:130px;
 float:left;
 padding:0 7px;
 margin-top:15px;
}

.pic1 h2{
 font-family:Calibri;
 font-size:14px;
 color:#3e3003;
 text-indent:25px;	
}

.tags2{
 width:730px;
 height:87px;
 float:left;
 margin-left:20px;
 margin-top:-50px;		
}

.tags2 img{
 position:relative;
 left:-3px;	
}


.tags2 h2{
  font-family:Calibri;
  font-size:16px;
  font-weight:bold;
  color:#fff;
}

.tags2 ul{
  margin:0;
  padding:0;
  	
}

.tags2 ul, t-move2{
  margin-top:55px;
  margin-left:10px;
  float:left;
  	
}

.tags2 a{
text-decoration:none;
 margin-top:10px;	
}

.tags2 li{
  width:114px;
  height:27px;
  font-family:Calibri;
  font-size:12px;
  line-height: 2;
  text-indent: 6px;
  color:#fff;
  margin-left:-7px;
  margin-top:15px;
  border-radius:5px;
  padding:10xp 10px;
  background:#363636; 	
 }

.hollywood2{
  width:114px !important;
  height:27px;
  font-family:Calibri;
  font-size:12px;

  line-height: 2;
  text-indent: 10px;
  color:#fff;
  margin-left:-8px !important;
   border-radius:5px;
  padding:10xp 10px;
  background:#acacac !important; 	
}


.science2{
  width:114px !important;
  height:27px;
  font-family:Calibri;
  font-size:12px;

  line-height: 2;
  text-indent: 10px;
  color:#fff;
  margin-left:10px;
   border-radius:5px;
  padding:10xp 10px;
  background:#555555 !important; 	
}

.second2{
  margin:0;
  padding:0;
	
}

.second2, .s-move2{
 margin-left:10px !important;
     margin-top:55px !important;
  	
}

.second2 li{
  width:114px;
  height:27px;
  font-family:Calibri;
  font-size:12px;
  line-height: 2;
  text-indent: 6px;
  color:#fff;
  margin-left:-7px;
  margin-top:15px;
   border-radius:5px;
  padding:10xp 10px;
  background:#363636; 	
 }

.hollywood2{
  width:114px !important;
  height:27px;
  font-family:Calibri;
  font-size:12px;

  line-height: 2;
  text-indent: 10px;
  color:#fff;
  margin-left:10px;
   border-radius:5px;
  padding:10xp 10px;
  background:#acacac !important; 	
}


.science2{
  width:114px !important;
  height:27px;
  font-family:Calibri;
  font-size:12px;

  line-height: 2;
  text-indent: 10px;
  color:#fff;
  margin-left:10px;
   border-radius:5px;
  padding:10xp 10px; 
  background:#555555 !important; 	
}

.reg-form{
 margin-left:150px;	
}


.gap {
	float:right;
	margin-left:60px;
	
}

.gender {
	float:right;
	text-align:left;
	width:219px;
}


.field {
 width:220px;
 height:35px;
 border-radius:3px;
 border:1px solid #fff;
 padding-left:10px;
}

.fieldtext {
 width:220px;
 height:60px;
 border-radius:3px;
 border:1px solid #fff;
 padding-left:10px;
 padding-top:10px;
}



.name{
  width:220px;
 height:35px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:50px;
 margin-left:40px;		
}

.sur-n{
 float:left;
 margin-top:-25px;	
}


.sur-tbox{
 width:220px;
 height:35px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:50px;
 margin-left:10px;	
}


.check1{
position:relative;
  left:55px;
 top:25px;	
}


.check2{
 position:relative;
 left:80px;
 top:25px;	
}

.male{
 font-family:Calibri;
 font-size:16px;
 color:#333333;
 position:relative;
 left:60px;
 top:22px;
}

.female{
 font-family:Calibri;
 font-size:16px;
 color:#333333;
 position:relative;
 left:85px;
 top:22px;
}


.tel{
   width:220px;
 height:35px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:50px;
 margin-left:33px;		
}


.lan2{
 font-family:Calibri;
 font-size:16px;
 font-weight:bold;
 color:#3e3003;
 float:left;	

 margin-top:25px;
	
}


.select2{
 width:125px;
 height:37px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:19px;
 margin-left:18px;
}

.pass{
 width:220px;
 height:35px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:50px;
 margin-left:15px;
	
}

.u-s{
 width:220px;
 height:35px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:50px;
 margin-left:6px;
}


.captcha{
 position:relative;
 top:18px;
 left:28px;	
	
}


.cap{
 font-family:Calibri;
 font-size:16px;
 font-weight:bold;
 color:#3e3003;
 float:left;	
 margin-left:10px;
 margin-top:10px;
	
}

.t-box{
  width:220px;
 height:35px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:30px;
 margin-left:100px;
}

.name2{
  width:220px;
 height:35px;
 border-radius:3px;
 border:1px solid #fff;
 margin-top:50px;
 margin-left:44px;		
}

.login3{
	background:#7a672d;
    border-radius: 2px;
    color: #fff;
    font-family: Calibri;
    font-size: 14px;
    height:35px;
	float:right;
	border:0px;
    margin-top: 11px;
    padding: 2px 5px;
	text-align:center;
    width: 90px;
	cursor:pointer;	
    transition:0.5s;
}

.login3:hover{
	background:#333333;
	transition:0.5s;
}

.play{
 float:left;
 margin-left:-75px;
 margin-top:65px;  
	
}

.cmnt{
 float:left;
 width:220px;
 height:85px;
 border-radius:4px;
 resize:none;
 margin-left:-10px;
 background:#fff;
 margin-top:105px;
 border:1px solid #fff;	
}

.usr{
    float: left;
    margin-top:110px;
	left:20px;
    position: relative;
    z-index: 1;
		
}


.para{
 font-family:Calibri;
 font-size:14px;
 color:#333;
 float:left;
 margin-top: 15px;
 text-indent: 35px;
	
}

.post{
 width:80px;
 height:25px;
 background:#7a672d;
 padding:5px 10px;
 margin-top:10px;
 float:right;
 line-height:2;
 font-family:Calibri;
 font-size:12px;
 border-radius:4px;
 text-decoration:none;
margin-right:45px;
 color:#fff;
 	
}

.cmnt-p{
 float:left;
 margin-left: 20px;
 margin-top: 25px;
}

.line{
 width: 210px;
 height:1px;
 float:left;
 margin-left: 25px;
 margin-top: 14px;
 background:url(../img/line.png);	
}


.line a{
 float:right;
 margin-top:10px;
 margin-right:30px;	
}

.tw{
 float:right;
 margin-top:10px;
 margin-right:-50px !important	
}

.v-name{
	float:left;
	margin-top:22px;
	margin-left:20px;
}

.v-name h2{
 font-family:Calibri;
 font-size:24px;
 color:#333;
 font-weight:bold;	
}


.fb-l{
 float:left;
 margin-left:-105px;
 margin-top: 28px;
}


.fb-l2{
 float:left;
 margin-left:-40px;
 margin-top: 28px;
}



.line2{
 width:460px;
 height:1px;
 float:left;
 margin-left:3px;
 margin-top: 14px;
 background:url(../img/line.png);	
}

.v-details{
 width:462px;
 height:96px;
 float:left;
 margin-top:20px;
 margin-left:16px;
	
}

.v-details img{
 float:left;	
}

.v-details h2{
 font-family:Calibri;
 font-size:12px;
 color:#333;
 position:relative;
 top:15px;
 left:05px;	
}


.v-details h3{
 font-family:Calibri;
 font-size:12px;
 font-weight:bold;
 color:#333;
 float:right;
 position:relative;
 top:0px;
 left:0px;	
}


.v-details h4{
 font-family:Calibri;
 font-size:12px;
 color:#333;
 position:relative;
 top:25px;
 left:-25px;	
}


.v-details h5{
 font-family:Calibri;
 font-size:12px;
 color:#333;
 position:relative;
 top:30px;
 left:-25px;	
}

.c-name{
 width:100%;		
}

.c-name ul{
 margin:0;
 padding:0;
 list-style-type:disc;
	
}

.c-name li{
 font-family:Calibri;
 font-size:18px;
 color:#3e3003;
 padding:5px 0;
 list-style-type:none;	
}

.c-name a{
 text-decoration:none;
 color:#939393;	
 transition:0.5s;
}

.c-name a:hover{
 text-decoration:none;
 color:#3e3003;
 transition:0.5s;
}


.strip{
 width:460px;
 height:1px;
 float:left;
 margin-left:25px;
 margin-top: 14px;
 background:url(../img/line.png);	
}

.flag{
 font-family:Calibri;
 font-size:16px;
 color:#333;
 float:left;
 margin-top:40px;
 text-indent:12px;
 text-decoration:none;	
	
}

.strip img{
 float:left;
 margin-top:30px;
}

.foldr{
 margin-left:70px;	
}


.ico1{
    float: left;
    margin-left: 370px;
    margin-top: -28px;
    position: relative;	
}

.ico2{
    float: left;
    margin-left:400px;
    margin-top: -28px;
    position: relative;	
}


.ico3{
    float: left;
    margin-left: 580px;
    margin-top: -28px;
    position: relative;	
}

.ico4{
    float: left;
    margin-left:610px;
    margin-top: -28px;
    position: relative;	
}

.ico5{
    float: left;
    margin-left:790px;
    margin-top: -28px;
    position: relative;	
}

.ico6{
    float: left;
    margin-left:820px;
    margin-top: -28px;
    position: relative;	
}


#table{
	width:680px;
	height:167px;
	margin:0 40px;
	border-radius:6px;
	float:left;
	background:#000000;

	position:relative;
	top:60px;
}


.coloum{
	font-family:Calibri;
    font-size:16px;
    color:#333;
    font-weight:bold;
	text-align:center;
	line-height:50px;
	width:50px;
	height:100%;
	float:left;
	background:#dbcb8f;
}



.row{
	width:100%;
	height:42px;
	float:left;
	background: rgb(236, 236, 236);
}

.row1{
	width:100%;
	height:42px;
	float:left;
	background:#E3E3E3;
}

.row2{
	width:100%;
	height:42px;
	float:left;
	background:#ffffff;
}

.row3{
	width:100%;
	height:42px;
	float:left;
	background:#E3E3E3;
}


.coloum2{
	font-family:Calibri;
 font-size:16px;
 color:#333;
  font-weight:bold;
	text-align:center;
	line-height:50px;
	width:60px;
	height:100%;
	float:left;
	background:#dbcb8f;
}

.rowo{
	width:100%;
	height:42px;
	float:left;
	background:#dbcb8f;
}

.row12{
	width:100%;
	height:42px;
	float:left;
	background:#E3E3E3;
}

.row22{
	width:100%;
	height:42px;
	float:left;
	background:#ffffff;
}

.row32{
	width:100%;
	height:42px;
	float:left;
	background:#E3E3E3;
}



.coloum3{
	font-family:Calibri;
 font-size:16px;
 color:#333;
  font-weight:bold;
	text-align:center;
	line-height:50px;
	width:120px;
	height:100%;
	float:left;
	background:#dbcb8f;
}


.coloumroles{
	font-family:Calibri;
 font-size:16px;
 color:#333;
  font-weight:bold;
	text-align:center;
	line-height:50px;
	width:60px;
	height:100%;
	float:left;
	background:#dbcb8f;
}

.coloumsend{
	font-family:Calibri;
 font-size:16px;
 color:#333;
  font-weight:bold;
	text-align:center;
	line-height:50px;
	width:100px;
	height:100%;
	float:left;
	background:#dbcb8f;
}

.coloum4{
	font-family:Calibri;
 font-size:16px;
 color:#333;
  font-weight:bold;
	text-align:center;
	line-height:50px;
	width:140px;
	height:100%;
	float:left;
	background:#dbcb8f;
}


.coloum5{
	font-family:Calibri;
 font-size:16px;
 color:#333;
  font-weight:bold;
	text-align:center;
	line-height:50px;
	width:50px;
	height:100%;
	float:left;
	background:#dbcb8f;
}

.coloum6{
	font-family:Calibri;
 font-size:16px;
 color:#333;
  font-weight:bold;
	text-align:center;
	line-height:50px;
	width:100px;
	height:100%;
	float:left;
	background:#dbcb8f;
}

.coloum7{
	font-family:Calibri;
 font-size:16px;
 color:#333;
  font-weight:bold;
	text-align:center;
	line-height:50px;
	width:100px;
	height:100%;
	float:left;
	background:#dbcb8f;
}

.coloum8{
	font-family:Calibri;
 font-size:16px;
 color:#333;
  font-weight:bold;
	text-align:center;
	line-height:50px;
	width:100px;
	height:100%;
	float:left;
	background:#dbcb8f;
}

.rowo{
	width:100%;
	height:42px;
	float:left;
	background:#dbcb8f;
}

.row12{
	width:100%;
	height:42px;
	float:left;
	background:#E3E3E3;
}

.row22{
	width:100%;
	height:42px;
	float:left;
	background:#ffffff;
}

.row32{
	width:100%;
	height:42px;
	float:left;
	background:#E3E3E3;
}



/*=======================Table2===================/*/


#table2{
	width:630px;
	height:167px;
	margin:0 40px;
	border-radius:6px;
	float:left;
	background:#000000;

	position:relative;
	top:150px;
}


.coloum{
	font-family:Calibri;
    font-size:16px;
    color:#333;
    font-weight:bold;
	text-align:center;
	line-height:50px;
	width:50px;
	height:100%;
	float:left;
	background:#dbcb8f;
}



.row{
	width:100%;
	height:42px;
	float:left;
	background:#ECECEC;
}

.row1{
	width:100%;
	height:42px;
	float:left;
	background:#E3E3E3;
}

.row2{
	width:100%;
	height:42px;
	float:left;
	background:#ffffff;
}

.row3{
	width:100%;
	height:42px;
	float:left;
	background:#E3E3E3;
}


.coloum22{
	font-family:Calibri;
 font-size:16px;
 color:#333;
  font-weight:bold;
	text-align:center;
	line-height:50px;
	width:250px;
	height:100%;
	float:left;
	background:#dbcb8f;
}

.rowo{
	width:100%;
	height:42px;
	float:left;
	background:#dbcb8f;
}

.row12{
	width:100%;
	height:42px;
	float:left;
	background:#E3E3E3;
}

.row22{
	width:100%;
	height:42px;
	float:left;
	background:#ffffff;
}

.row32{
	width:100%;
	height:42px;
	float:left;
	background:#E3E3E3;
}



.coloum33{
	font-family:Calibri;
 font-size:16px;
 color:#333;
  font-weight:bold;
	text-align:center;
	line-height:50px;
	width:180px;
	height:100%;
	float:left;
	background:#dbcb8f;
}


.coloum55{
	font-family:Calibri;
 font-size:16px;
 color:#333;
  font-weight:bold;
	text-align:center;
	line-height:50px;
	width:150px;
	height:100%;
	float:left;
	background:#dbcb8f;
}

.rowo{
	width:100%;
	height:42px;
	float:left;
	background:#dbcb8f;
}



.row12{
	width:100%;
	height:42px;
	float:left;
	background:#E3E3E3;
}

.row22{
	width:100%;
	height:42px;
	float:left;
	background:#ffffff;
}

.row32{
	width:100%;
	height:42px;
	float:left;
	background:#E3E3E3;
}

#text{
	
	width:600px;
	height:50px;
	float:left;
	margin:0 40px;
	position:relative;
	top:40px;
	font-family:Calibri;
    font-size:16px;
    color:#000000;
    font-weight:bold;

	
}
.modalDialog {
		font-family: Arial, Helvetica, sans-serif;
		float:left;
		
	}

	.modalDialog:target {
		opacity:1;
		pointer-events: auto;
	}

	.modalDialog > div {
		width: 600px;
		/*position: relative;
		margin: 10% auto;
		padding: 5px 20px 13px 20px;
		border-radius: 10px;
		height:450px;
		
		background: #fff;
		background: -moz-linear-gradient(#fff, #999);
		background: -webkit-linear-gradient(#fff, #999);
		background: -o-linear-gradient(#fff, #999);*/
	}
	
	.accessDiv{
		  overflow: auto;
		  overflow-x: hidden;
	}
	.close {
		background: #606061;
		color: #FFFFFF;
		line-height: 25px;
		position: absolute;
		right: -12px;
		text-align: center;
		top: -10px;
		width: 24px;
		text-decoration: none;
		font-weight: bold;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
		-moz-box-shadow: 1px 1px 3px #000;
		-webkit-box-shadow: 1px 1px 3px #000;
		box-shadow: 1px 1px 3px #000;
	}

	.close:hover { background: #00d9ff; }
	
	.modalDialog table, .modalDialog th, .modalDialog td {
		border: 1px solid black;
		border-collapse: collapse;
		border-spacing: 5px;
	}
	.modalDialog th, .modalDialog td {
		padding: 5px;
		text-align: left;
	}
	
	table#t01 tr:nth-child(even) {
		background-color: #DACEA2;
	}
	table#t01 tr:nth-child(odd) {
		background-color: #fff;
	}
	table#t01 th {
		color: white;
		background-color: black;
	}
.roleSave{
	width: 139px;
  height: 35px;
  font-family: Calibri;
  font-size: 16px;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  padding: 0px 0px;
  background: #7a672d;
  text-decoration: none;
  margin-bottom: 15px;
}

/*Back to top*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

.actionButtons{
	float:right;
	
	vertical-align:bottom;
	margin-top: 40px;
	MArgin-right: 12px;
    margin-bottom: 5px;
}

.topgap{
	width:100%;
	margin-bottom:5px;
}

.modalDialog {
		position: fixed;
		font-family: Arial, Helvetica, sans-serif;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.8);
		z-index: 99999;
		opacity:0;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		pointer-events: none;
	}

	.modalDialog:target {
		opacity:1;
		pointer-events: auto;
	}

	.modalDialog > div {
		width: 330px;
		position: relative;
		margin: 10% auto;
		padding: 5px 20px 13px 20px;
		border-radius: 10px;
		background: #fff;
		background: -moz-linear-gradient(#fff, #999);
		background: -webkit-linear-gradient(#fff, #999);
		background: -o-linear-gradient(#fff, #999);
		height: 120px;
	}

	.close1 {
		background: #606061;
		color: #FFFFFF;
		line-height: 25px;
		position: absolute;
		right: -12px;
		text-align: center;
		top: -10px;
		width: 24px;
		text-decoration: none;
		font-weight: bold;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
		-moz-box-shadow: 1px 1px 3px #000;
		-webkit-box-shadow: 1px 1px 3px #000;
		box-shadow: 1px 1px 3px #000;
	}

	.close1:hover { background: #00d9ff; }







